doctype 5
html(manifest='application.manifest')
  head
    title= title
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="apple-touch-icon", href="images/wifi.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript', src='javascripts/test.js')
    block content