doctype 5
html(manifest='application.manifest')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript', src='javascripts/test.js')
    block content