body {
    background: #faffeb;
    color:#000000;
    margin: 0px;
    padding: 0px;
}

A:link { color: black; }
A:visited { color: black; }
A:active { color: black; }
A:hover { color: black; }

a {
	font-weight: 600;
	color: #000066;
	font-size: 15px;
}

img {
    border-color:#ee2c1c;
}

#title {
	width:68px;
	margin-top:12px;
	margin-left:20px;
	float:left;
	font-weight: 600;
	color: #000000;
	font-size: 12px;
}

#ctrlbt {
	position:relative;
	float:left;
	width:65px;
	height:30px;
	margin-top:12px;
	text-decoration: underline;
	font-weight: 600;
	color: #000066;
	font-size: 12px;
}

#resetbt {
	position:relative;
	float:left;
	width:68px;
	height:30px;
	margin-top:12px;
	text-decoration: underline;
	font-weight: 600;
	color: #000066;
	font-size: 12px;
}

#difficultybt {
	position:relative;
	float:left;
	width:68px;
	height:30px;
	margin-top:12px;
	text-decoration: underline;
	font-weight: 600;
	color: #000066;
	font-size: 12px;
}

#totop {
	position:relative;
	float:left;
	width:70px;
	height:30px;
	margin-top:12px;
	margin-left:12px;
	text-decoration: underline;
	font-weight: 600;
	color: #000066;
	font-size: 12px;
}

#others {
	position:relative;
	float:left;
	width:90px;
	height:30px;
	margin-top:15px;
	text-decoration: underline;
	font-weight: 600;
	color: #000066;
	font-size: 12px;
}

#space {
	clear: both;
}

#menu {
	width:100%;
	height:40px;
	margin:0px;
	border:0px;
	padding:0px;
	background-color:#9edbf5;
}